In [1]:
import pandas as pd
from src.housing_price_prediction.ingest_data import fetch_data, load_data
dataset = pd.read_csv(
    "/mnt/c/Users/praveen.ravikuma/Documents/Projects/mle_training/mle-training/housing_project/data/raw/housing.csv"
)
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
dataset.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [13]:
from src.housing_price_prediction.ingest_data import preprocess_df
processed_data = preprocess_df(dataset)
processed_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,False,False,True,False
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,False,False,True,False
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,False,False,True,False
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,False,False,True,False
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,False,False,True,False

In [17]:
from src.housing_price_prediction.ingest_data import feature_engineering, train_test_split


feature_df = feature_engineering(processed_data)

In [32]:
feature_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,income_cat,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,False,False,True,False,5,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,False,False,True,False,5,6.238137,0.155797,2.109842
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,False,False,True,False,5,8.288136,0.129516,2.802260
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,False,False,True,False,4,5.817352,0.184458,2.547945
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,False,False,True,False,3,6.281853,0.172096,2.181467

In [51]:
train_df, test_df = train_test_split(feature_df)
train_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,income_cat,rooms_per_household,bedrooms_per_room,population_per_household
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,True,False,False,False,2,5.485836,0.205784,3.168555
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,False,False,False,True,5,6.927083,0.160714,2.623698
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,True,False,False,False,2,5.393333,0.191595,2.223333
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,False,False,False,True,2,3.886128,0.276505,1.859213
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,False,False,False,False,3,6.096552,0.182692,3.167241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900,268500.0,False,False,False,False,4,6.658342,0.184696,2.023976
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139,90400.0,True,False,False,False,2,5.571932,0.179977,3.363188
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797,140400.0,False,False,False,False,3,4.110465,0.234795,2.662791
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964,258100.0,False,False,False,False,3,6.297405,0.183835,2.411178
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319,62700.0,True,False,False,False,3,5.477157,0.205746,3.172589

In [ ]:
import numpy as np
{'median_income':np.random.randint(1,15,100)},
{'median_house_value':np.random.randint(15000,500000,100)},
{'ocean_proximity':np.random.choice(['NEAR BAY', 'INLAND', 'NEAR OCEAN', 'ISLAND'], 100)},
{'income_cat':np.random.randint(1,5,100)},
{'housing_median_age':np.random.randint(1,52,100)},
{'total_rooms':np.random.randint(1,10000,100)},
{'total_bedrooms':np.random.randint(1,5000,100)},
{'population':np.random.randint(1,5000,100)},
{'households':np.random.randint(1,5000,100)},
{'median_income':np.random.randint(1,15,100)},

    median_income
0              10
1              13
2               8
3               1
4              14
..            ...
95              3
96              4
97             10
98             14
99             10

[100 rows x 1 columns]

In [21]:
train,test = train_test_split(feature_df)

In [22]:
train.shape

(16512, 17)

In [26]:
test.shape

(4128, 17)

In [4]:
import os
os.getcwd()

'/mnt/c/Users/praveen.ravikuma/Documents/Projects/mle_training/mle-training/housing_project/src/housing_price_prediction'

In [ ]:
a = os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath("test2.ipynb"))))
os.makedirs(os.path.dirname(output_path), exist_ok=True)

'/mnt/c/Users/praveen.ravikuma/Documents/Projects/mle_training/mle-training/housing_project'

In [9]:
os.path.dirname('data/raw')

'data'

In [4]:
import os

os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath("test2.ipynb"))))

'/mnt/c/Users/praveen.ravikuma/Documents/Projects/mle_training/mle-training/housing_project'

In [1]:
import os
import tarfile
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import randint
from six.moves import urllib
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import (
    GridSearchCV,
    RandomizedSearchCV,
    StratifiedShuffleSplit,
    train_test_split,
)
from sklearn.tree import DecisionTreeRegressor

# matplotlib.use("Agg")
# Suppress warnings from scikit-learn
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
def fetch_data(output_path: str):
    """
    Download and extract the housing dataset in the specified output path.

    Args:
        output_path (str): The directory where the dataset will be downloaded and extracted.
    """
    os.makedirs(output_path, exist_ok=True)
    tgz_path = os.path.join(output_path, "housing.tgz")
    return tgz_path

tgz_path = fetch_data("datasets/housing")
tgz_path

'datasets/housing/housing.tgz'

In [52]:
a = housing.sample(30)
a.reset_index(drop=True, inplace=True)
a

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.20,34.26,17.0,9419.0,1455.0,1382.0,459.0,6.2233,230900.0,INLAND
1,-117.65,34.09,46.0,1214.0,281.0,701.0,294.0,2.7083,116300.0,INLAND
2,-119.79,36.79,33.0,3433.0,785.0,1806.0,783.0,1.9386,67500.0,INLAND
3,-118.50,34.04,52.0,3000.0,374.0,1143.0,375.0,15.0001,500001.0,<1H OCEAN
4,-118.14,34.15,17.0,1896.0,674.0,971.0,652.0,0.8438,175000.0,<1H OCEAN
5,-118.34,34.26,37.0,1776.0,301.0,702.0,265.0,5.2661,314900.0,<1H OCEAN
6,-118.27,34.16,45.0,1865.0,360.0,973.0,349.0,3.6587,321200.0,<1H OCEAN
7,-121.14,38.77,15.0,10282.0,1333.0,3868.0,1300.0,6.4789,287800.0,INLAND
8,-121.14,40.29,17.0,1944.0,394.0,384.0,172.0,1.6875,111500.0,INLAND
9,-117.16,32.71,5.0,2508.0,827.0,2066.0,761.0,1.3092,325000.0,NEAR OCEAN
10,-118.31,34.09,30.0,3165.0,1263.0,3678.0,1141.0,2.0000,240600.0,<1H OCEAN
11,-122.41,37.78,52.0,1928.0,836.0,2124.0,739.0,1.1185,55000.0,NEAR BAY
12,-118.02,33.62,11.0,3969.0,834.0,1508.0,754.0,4.3409,271400.0,NEAR OCEAN
13,-117.14,32.79,35.0,3578.0,582.0,1568.0,553.0,4.7813,188600.0,NEAR OCEAN
14,-122.01,37.31,26.0,1391.0,241.0,700.0,236.0,6.6766,332700.0,<1H OCEAN
15,-121.57,39.12,30.0,2601.0,534.0,1702.0,506.0,2.0800,56600.0,INLAND
16,-121.46,38.61,43.0,1111.0,269.0,613.0,290.0,1.2917,66300.0,INLAND
17,-118.99,35.38,26.0,1317.0,374.0,1025.0,304.0,1.4024,51000.0,INLAND
18,-122.02,37.60,32.0,1295.0,295.0,1097.0,328.0,3.2386,149600.0,NEAR BAY
19,-117.06,32.75,34.0,2516.0,611.0,1317.0,594.0,2.2308,125900.0,NEAR OCEAN
20,-121.92,36.57,42.0,3944.0,738.0,1374.0,598.0,4.1740,394400.0,NEAR OCEAN
21,-123.76,41.03,24.0,2386.0,565.0,1058.0,414.0,2.0644,79800.0,<1H OCEAN
22,-121.98,37.33,30.0,3742.0,633.0,1721.0,631.0,6.1388,302400.0,<1H OCEAN
23,-116.47,33.78,27.0,1781.0,441.0,759.0,340.0,3.3162,113600.0,INLAND
24,-118.26,33.79,30.0,1291.0,230.0,835.0,215.0,5.5000,181500.0,<1H OCEAN
25,-118.94,34.18,24.0,3689.0,585.0,1898.0,581.0,5.9224,239400.0,<1H OCEAN
26,-117.62,34.09,26.0,3271.0,595.0,2259.0,566.0,4.0139,132000.0,INLAND
27,-121.83,37.02,22.0,1903.0,350.0,760.0,322.0,2.9559,288400.0,<1H OCEAN
28,-117.97,34.13,42.0,683.0,127.0,541.0,138.0,3.4375,151700.0,INLAND
29,-118.29,34.07,26.0,2302.0,1124.0,2660.0,1004.0,2.3567,253100.0,<1H OCEAN

In [53]:
from numpy import add
from src.housing_price_prediction.preprocessing import preprocess_df, add_features

b = preprocess_df(a)
b.to_dict()

{'longitude': {0: -117.2,
  1: -117.65,
  2: -119.79,
  3: -118.5,
  4: -118.14,
  5: -118.34,
  6: -118.27,
  7: -121.14,
  8: -121.14,
  9: -117.16,
  10: -118.31,
  11: -122.41,
  12: -118.02,
  13: -117.14,
  14: -122.01,
  15: -121.57,
  16: -121.46,
  17: -118.99,
  18: -122.02,
  19: -117.06,
  20: -121.92,
  21: -123.76,
  22: -121.98,
  23: -116.47,
  24: -118.26,
  25: -118.94,
  26: -117.62,
  27: -121.83,
  28: -117.97,
  29: -118.29},
 'latitude': {0: 34.26,
  1: 34.09,
  2: 36.79,
  3: 34.04,
  4: 34.15,
  5: 34.26,
  6: 34.16,
  7: 38.77,
  8: 40.29,
  9: 32.71,
  10: 34.09,
  11: 37.78,
  12: 33.62,
  13: 32.79,
  14: 37.31,
  15: 39.12,
  16: 38.61,
  17: 35.38,
  18: 37.6,
  19: 32.75,
  20: 36.57,
  21: 41.03,
  22: 37.33,
  23: 33.78,
  24: 33.79,
  25: 34.18,
  26: 34.09,
  27: 37.02,
  28: 34.13,
  29: 34.07},
 'housing_median_age': {0: 17.0,
  1: 46.0,
  2: 33.0,
  3: 52.0,
  4: 17.0,
  5: 37.0,
  6: 45.0,
  7: 15.0,
  8: 17.0,
  9: 5.0,
  10: 30.0,
  11: 52.0,
  12: 11.0,
  13: 35.0,
  14: 26.0,
  15: 30.0,
  16: 43.0,
  17: 26.0,
  18: 32.0,
  19: 34.0,
  20: 42.0,
  21: 24.0,
  22: 30.0,
  23: 27.0,
  24: 30.0,
  25: 24.0,
  26: 26.0,
  27: 22.0,
  28: 42.0,
  29: 26.0},
 'total_rooms': {0: 9419.0,
  1: 1214.0,
  2: 3433.0,
  3: 3000.0,
  4: 1896.0,
  5: 1776.0,
  6: 1865.0,
  7: 10282.0,
  8: 1944.0,
  9: 2508.0,
  10: 3165.0,
  11: 1928.0,
  12: 3969.0,
  13: 3578.0,
  14: 1391.0,
  15: 2601.0,
  16: 1111.0,
  17: 1317.0,
  18: 1295.0,
  19: 2516.0,
  20: 3944.0,
  21: 2386.0,
  22: 3742.0,
  23: 1781.0,
  24: 1291.0,
  25: 3689.0,
  26: 3271.0,
  27: 1903.0,
  28: 683.0,
  29: 2302.0},
 'total_bedrooms': {0: 1455.0,
  1: 281.0,
  2: 785.0,
  3: 374.0,
  4: 674.0,
  5: 301.0,
  6: 360.0,
  7: 1333.0,
  8: 394.0,
  9: 827.0,
  10: 1263.0,
  11: 836.0,
  12: 834.0,
  13: 582.0,
  14: 241.0,
  15: 534.0,
  16: 269.0,
  17: 374.0,
  18: 295.0,
  19: 611.0,
  20: 738.0,
  21: 565.0,
  22: 633.0,
  23: 441.0,
  24: 230.0,
  25: 585.0,
  26: 595.0,
  27: 350.0,
  28: 127.0,
  29: 1124.0},
 'population': {0: 1382.0,
  1: 701.0,
  2: 1806.0,
  3: 1143.0,
  4: 971.0,
  5: 702.0,
  6: 973.0,
  7: 3868.0,
  8: 384.0,
  9: 2066.0,
  10: 3678.0,
  11: 2124.0,
  12: 1508.0,
  13: 1568.0,
  14: 700.0,
  15: 1702.0,
  16: 613.0,
  17: 1025.0,
  18: 1097.0,
  19: 1317.0,
  20: 1374.0,
  21: 1058.0,
  22: 1721.0,
  23: 759.0,
  24: 835.0,
  25: 1898.0,
  26: 2259.0,
  27: 760.0,
  28: 541.0,
  29: 2660.0},
 'households': {0: 459.0,
  1: 294.0,
  2: 783.0,
  3: 375.0,
  4: 652.0,
  5: 265.0,
  6: 349.0,
  7: 1300.0,
  8: 172.0,
  9: 761.0,
  10: 1141.0,
  11: 739.0,
  12: 754.0,
  13: 553.0,
  14: 236.0,
  15: 506.0,
  16: 290.0,
  17: 304.0,
  18: 328.0,
  19: 594.0,
  20: 598.0,
  21: 414.0,
  22: 631.0,
  23: 340.0,
  24: 215.0,
  25: 581.0,
  26: 566.0,
  27: 322.0,
  28: 138.0,
  29: 1004.0},
 'median_income': {0: 6.2233,
  1: 2.7083,
  2: 1.9386,
  3: 15.0001,
  4: 0.8438,
  5: 5.2661,
  6: 3.6587,
  7: 6.4789,
  8: 1.6875,
  9: 1.3092,
  10: 2.0,
  11: 1.1185,
  12: 4.3409,
  13: 4.7813,
  14: 6.6766,
  15: 2.08,
  16: 1.2917,
  17: 1.4024,
  18: 3.2386,
  19: 2.2308,
  20: 4.174,
  21: 2.0644,
  22: 6.1388,
  23: 3.3162,
  24: 5.5,
  25: 5.9224,
  26: 4.0139,
  27: 2.9559,
  28: 3.4375,
  29: 2.3567},
 'median_house_value': {0: 230900.0,
  1: 116300.0,
  2: 67500.0,
  3: 500001.0,
  4: 175000.0,
  5: 314900.0,
  6: 321200.0,
  7: 287800.0,
  8: 111500.0,
  9: 325000.0,
  10: 240600.0,
  11: 55000.0,
  12: 271400.0,
  13: 188600.0,
  14: 332700.0,
  15: 56600.0,
  16: 66300.0,
  17: 51000.0,
  18: 149600.0,
  19: 125900.0,
  20: 394400.0,
  21: 79800.0,
  22: 302400.0,
  23: 113600.0,
  24: 181500.0,
  25: 239400.0,
  26: 132000.0,
  27: 288400.0,
  28: 151700.0,
  29: 253100.0},
 'ocean_proximity_INLAND': {0: True,
  1: True,
  2: True,
  3: False,
  4: False,
  5: False,
  6: False,
  7: True,
  8: True,
  9: False,
  10: False,
  11: False,
  12: False,
  13: False,
  14: False,
  15: True,
  16: True,
  17: True,
  18: False,
  19: False,
  20: False,
  21: False,
  22: False,
  23: True,
  24: False,
  25: False,
  26: True,
  27: False,
  28: True,
  29: False},
 'ocean_proximity_NEAR BAY': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: False,
  10: False,
  11: True,
  12: False,
  13: False,
  14: False,
  15: False,
  16: False,
  17: False,
  18: True,
  19: False,
  20: False,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False},
 'ocean_proximity_NEAR OCEAN': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: True,
  10: False,
  11: False,
  12: True,
  13: True,
  14: False,
  15: False,
  16: False,
  17: False,
  18: False,
  19: True,
  20: True,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False}}

In [54]:
c = add_features(b)
c.to_dict()

{'longitude': {0: -117.2,
  1: -117.65,
  2: -119.79,
  3: -118.5,
  4: -118.14,
  5: -118.34,
  6: -118.27,
  7: -121.14,
  8: -121.14,
  9: -117.16,
  10: -118.31,
  11: -122.41,
  12: -118.02,
  13: -117.14,
  14: -122.01,
  15: -121.57,
  16: -121.46,
  17: -118.99,
  18: -122.02,
  19: -117.06,
  20: -121.92,
  21: -123.76,
  22: -121.98,
  23: -116.47,
  24: -118.26,
  25: -118.94,
  26: -117.62,
  27: -121.83,
  28: -117.97,
  29: -118.29},
 'latitude': {0: 34.26,
  1: 34.09,
  2: 36.79,
  3: 34.04,
  4: 34.15,
  5: 34.26,
  6: 34.16,
  7: 38.77,
  8: 40.29,
  9: 32.71,
  10: 34.09,
  11: 37.78,
  12: 33.62,
  13: 32.79,
  14: 37.31,
  15: 39.12,
  16: 38.61,
  17: 35.38,
  18: 37.6,
  19: 32.75,
  20: 36.57,
  21: 41.03,
  22: 37.33,
  23: 33.78,
  24: 33.79,
  25: 34.18,
  26: 34.09,
  27: 37.02,
  28: 34.13,
  29: 34.07},
 'housing_median_age': {0: 17.0,
  1: 46.0,
  2: 33.0,
  3: 52.0,
  4: 17.0,
  5: 37.0,
  6: 45.0,
  7: 15.0,
  8: 17.0,
  9: 5.0,
  10: 30.0,
  11: 52.0,
  12: 11.0,
  13: 35.0,
  14: 26.0,
  15: 30.0,
  16: 43.0,
  17: 26.0,
  18: 32.0,
  19: 34.0,
  20: 42.0,
  21: 24.0,
  22: 30.0,
  23: 27.0,
  24: 30.0,
  25: 24.0,
  26: 26.0,
  27: 22.0,
  28: 42.0,
  29: 26.0},
 'total_rooms': {0: 9419.0,
  1: 1214.0,
  2: 3433.0,
  3: 3000.0,
  4: 1896.0,
  5: 1776.0,
  6: 1865.0,
  7: 10282.0,
  8: 1944.0,
  9: 2508.0,
  10: 3165.0,
  11: 1928.0,
  12: 3969.0,
  13: 3578.0,
  14: 1391.0,
  15: 2601.0,
  16: 1111.0,
  17: 1317.0,
  18: 1295.0,
  19: 2516.0,
  20: 3944.0,
  21: 2386.0,
  22: 3742.0,
  23: 1781.0,
  24: 1291.0,
  25: 3689.0,
  26: 3271.0,
  27: 1903.0,
  28: 683.0,
  29: 2302.0},
 'total_bedrooms': {0: 1455.0,
  1: 281.0,
  2: 785.0,
  3: 374.0,
  4: 674.0,
  5: 301.0,
  6: 360.0,
  7: 1333.0,
  8: 394.0,
  9: 827.0,
  10: 1263.0,
  11: 836.0,
  12: 834.0,
  13: 582.0,
  14: 241.0,
  15: 534.0,
  16: 269.0,
  17: 374.0,
  18: 295.0,
  19: 611.0,
  20: 738.0,
  21: 565.0,
  22: 633.0,
  23: 441.0,
  24: 230.0,
  25: 585.0,
  26: 595.0,
  27: 350.0,
  28: 127.0,
  29: 1124.0},
 'population': {0: 1382.0,
  1: 701.0,
  2: 1806.0,
  3: 1143.0,
  4: 971.0,
  5: 702.0,
  6: 973.0,
  7: 3868.0,
  8: 384.0,
  9: 2066.0,
  10: 3678.0,
  11: 2124.0,
  12: 1508.0,
  13: 1568.0,
  14: 700.0,
  15: 1702.0,
  16: 613.0,
  17: 1025.0,
  18: 1097.0,
  19: 1317.0,
  20: 1374.0,
  21: 1058.0,
  22: 1721.0,
  23: 759.0,
  24: 835.0,
  25: 1898.0,
  26: 2259.0,
  27: 760.0,
  28: 541.0,
  29: 2660.0},
 'households': {0: 459.0,
  1: 294.0,
  2: 783.0,
  3: 375.0,
  4: 652.0,
  5: 265.0,
  6: 349.0,
  7: 1300.0,
  8: 172.0,
  9: 761.0,
  10: 1141.0,
  11: 739.0,
  12: 754.0,
  13: 553.0,
  14: 236.0,
  15: 506.0,
  16: 290.0,
  17: 304.0,
  18: 328.0,
  19: 594.0,
  20: 598.0,
  21: 414.0,
  22: 631.0,
  23: 340.0,
  24: 215.0,
  25: 581.0,
  26: 566.0,
  27: 322.0,
  28: 138.0,
  29: 1004.0},
 'median_income': {0: 6.2233,
  1: 2.7083,
  2: 1.9386,
  3: 15.0001,
  4: 0.8438,
  5: 5.2661,
  6: 3.6587,
  7: 6.4789,
  8: 1.6875,
  9: 1.3092,
  10: 2.0,
  11: 1.1185,
  12: 4.3409,
  13: 4.7813,
  14: 6.6766,
  15: 2.08,
  16: 1.2917,
  17: 1.4024,
  18: 3.2386,
  19: 2.2308,
  20: 4.174,
  21: 2.0644,
  22: 6.1388,
  23: 3.3162,
  24: 5.5,
  25: 5.9224,
  26: 4.0139,
  27: 2.9559,
  28: 3.4375,
  29: 2.3567},
 'median_house_value': {0: 230900.0,
  1: 116300.0,
  2: 67500.0,
  3: 500001.0,
  4: 175000.0,
  5: 314900.0,
  6: 321200.0,
  7: 287800.0,
  8: 111500.0,
  9: 325000.0,
  10: 240600.0,
  11: 55000.0,
  12: 271400.0,
  13: 188600.0,
  14: 332700.0,
  15: 56600.0,
  16: 66300.0,
  17: 51000.0,
  18: 149600.0,
  19: 125900.0,
  20: 394400.0,
  21: 79800.0,
  22: 302400.0,
  23: 113600.0,
  24: 181500.0,
  25: 239400.0,
  26: 132000.0,
  27: 288400.0,
  28: 151700.0,
  29: 253100.0},
 'ocean_proximity_INLAND': {0: True,
  1: True,
  2: True,
  3: False,
  4: False,
  5: False,
  6: False,
  7: True,
  8: True,
  9: False,
  10: False,
  11: False,
  12: False,
  13: False,
  14: False,
  15: True,
  16: True,
  17: True,
  18: False,
  19: False,
  20: False,
  21: False,
  22: False,
  23: True,
  24: False,
  25: False,
  26: True,
  27: False,
  28: True,
  29: False},
 'ocean_proximity_NEAR BAY': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: False,
  10: False,
  11: True,
  12: False,
  13: False,
  14: False,
  15: False,
  16: False,
  17: False,
  18: True,
  19: False,
  20: False,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False},
 'ocean_proximity_NEAR OCEAN': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: True,
  10: False,
  11: False,
  12: True,
  13: True,
  14: False,
  15: False,
  16: False,
  17: False,
  18: False,
  19: True,
  20: True,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False},
 'income_cat': {0: 5,
  1: 2,
  2: 2,
  3: 5,
  4: 1,
  5: 4,
  6: 3,
  7: 5,
  8: 2,
  9: 1,
  10: 2,
  11: 1,
  12: 3,
  13: 4,
  14: 5,
  15: 2,
  16: 1,
  17: 1,
  18: 3,
  19: 2,
  20: 3,
  21: 2,
  22: 5,
  23: 3,
  24: 4,
  25: 4,
  26: 3,
  27: 2,
  28: 3,
  29: 2},
 'rooms_per_household': {0: 20.52069716775599,
  1: 4.129251700680272,
  2: 4.384418901660281,
  3: 8.0,
  4: 2.9079754601226995,
  5: 6.7018867924528305,
  6: 5.343839541547278,
  7: 7.909230769230769,
  8: 11.30232558139535,
  9: 3.295663600525624,
  10: 2.7738825591586327,
  11: 2.60893098782138,
  12: 5.26392572944297,
  13: 6.470162748643761,
  14: 5.8940677966101696,
  15: 5.140316205533597,
  16: 3.831034482758621,
  17: 4.332236842105263,
  18: 3.948170731707317,
  19: 4.235690235690235,
  20: 6.595317725752508,
  21: 5.763285024154589,
  22: 5.93026941362916,
  23: 5.238235294117647,
  24: 6.004651162790697,
  25: 6.349397590361446,
  26: 5.779151943462898,
  27: 5.909937888198757,
  28: 4.949275362318841,
  29: 2.2928286852589643},
 'bedrooms_per_room': {0: 0.15447499734579043,
  1: 0.23146622734761121,
  2: 0.2286629769880571,
  3: 0.12466666666666666,
  4: 0.35548523206751054,
  5: 0.16948198198198197,
  6: 0.19302949061662197,
  7: 0.12964403812487843,
  8: 0.20267489711934156,
  9: 0.32974481658692184,
  10: 0.3990521327014218,
  11: 0.4336099585062241,
  12: 0.21012849584278157,
  13: 0.1626607043040805,
  14: 0.1732566498921639,
  15: 0.20530565167243367,
  16: 0.24212421242124213,
  17: 0.2839787395596052,
  18: 0.2277992277992278,
  19: 0.24284578696343403,
  20: 0.18711967545638944,
  21: 0.23679798826487847,
  22: 0.16916087653661144,
  23: 0.2476137001684447,
  24: 0.17815646785437644,
  25: 0.15857956085660072,
  26: 0.18190155915622133,
  27: 0.1839201261166579,
  28: 0.18594436310395315,
  29: 0.4882710686359687},
 'population_per_household': {0: 3.0108932461873636,
  1: 2.3843537414965987,
  2: 2.3065134099616857,
  3: 3.048,
  4: 1.4892638036809815,
  5: 2.6490566037735848,
  6: 2.7879656160458453,
  7: 2.9753846153846153,
  8: 2.2325581395348837,
  9: 2.7148488830486204,
  10: 3.223488168273444,
  11: 2.8741542625169147,
  12: 2.0,
  13: 2.8354430379746836,
  14: 2.9661016949152543,
  15: 3.3636363636363638,
  16: 2.113793103448276,
  17: 3.3717105263157894,
  18: 3.3445121951219514,
  19: 2.217171717171717,
  20: 2.297658862876254,
  21: 2.5555555555555554,
  22: 2.7274167987321714,
  23: 2.2323529411764707,
  24: 3.883720930232558,
  25: 3.2667814113597244,
  26: 3.991166077738516,
  27: 2.360248447204969,
  28: 3.920289855072464,
  29: 2.649402390438247}}

In [55]:
from numpy import add
from src.housing_price_prediction.preprocessing import preprocess_df,add_features


b = preprocess_df(a)
c = add_features(b)
c.to_dict()

{'longitude': {0: -117.2,
  1: -117.65,
  2: -119.79,
  3: -118.5,
  4: -118.14,
  5: -118.34,
  6: -118.27,
  7: -121.14,
  8: -121.14,
  9: -117.16,
  10: -118.31,
  11: -122.41,
  12: -118.02,
  13: -117.14,
  14: -122.01,
  15: -121.57,
  16: -121.46,
  17: -118.99,
  18: -122.02,
  19: -117.06,
  20: -121.92,
  21: -123.76,
  22: -121.98,
  23: -116.47,
  24: -118.26,
  25: -118.94,
  26: -117.62,
  27: -121.83,
  28: -117.97,
  29: -118.29},
 'latitude': {0: 34.26,
  1: 34.09,
  2: 36.79,
  3: 34.04,
  4: 34.15,
  5: 34.26,
  6: 34.16,
  7: 38.77,
  8: 40.29,
  9: 32.71,
  10: 34.09,
  11: 37.78,
  12: 33.62,
  13: 32.79,
  14: 37.31,
  15: 39.12,
  16: 38.61,
  17: 35.38,
  18: 37.6,
  19: 32.75,
  20: 36.57,
  21: 41.03,
  22: 37.33,
  23: 33.78,
  24: 33.79,
  25: 34.18,
  26: 34.09,
  27: 37.02,
  28: 34.13,
  29: 34.07},
 'housing_median_age': {0: 17.0,
  1: 46.0,
  2: 33.0,
  3: 52.0,
  4: 17.0,
  5: 37.0,
  6: 45.0,
  7: 15.0,
  8: 17.0,
  9: 5.0,
  10: 30.0,
  11: 52.0,
  12: 11.0,
  13: 35.0,
  14: 26.0,
  15: 30.0,
  16: 43.0,
  17: 26.0,
  18: 32.0,
  19: 34.0,
  20: 42.0,
  21: 24.0,
  22: 30.0,
  23: 27.0,
  24: 30.0,
  25: 24.0,
  26: 26.0,
  27: 22.0,
  28: 42.0,
  29: 26.0},
 'total_rooms': {0: 9419.0,
  1: 1214.0,
  2: 3433.0,
  3: 3000.0,
  4: 1896.0,
  5: 1776.0,
  6: 1865.0,
  7: 10282.0,
  8: 1944.0,
  9: 2508.0,
  10: 3165.0,
  11: 1928.0,
  12: 3969.0,
  13: 3578.0,
  14: 1391.0,
  15: 2601.0,
  16: 1111.0,
  17: 1317.0,
  18: 1295.0,
  19: 2516.0,
  20: 3944.0,
  21: 2386.0,
  22: 3742.0,
  23: 1781.0,
  24: 1291.0,
  25: 3689.0,
  26: 3271.0,
  27: 1903.0,
  28: 683.0,
  29: 2302.0},
 'total_bedrooms': {0: 1455.0,
  1: 281.0,
  2: 785.0,
  3: 374.0,
  4: 674.0,
  5: 301.0,
  6: 360.0,
  7: 1333.0,
  8: 394.0,
  9: 827.0,
  10: 1263.0,
  11: 836.0,
  12: 834.0,
  13: 582.0,
  14: 241.0,
  15: 534.0,
  16: 269.0,
  17: 374.0,
  18: 295.0,
  19: 611.0,
  20: 738.0,
  21: 565.0,
  22: 633.0,
  23: 441.0,
  24: 230.0,
  25: 585.0,
  26: 595.0,
  27: 350.0,
  28: 127.0,
  29: 1124.0},
 'population': {0: 1382.0,
  1: 701.0,
  2: 1806.0,
  3: 1143.0,
  4: 971.0,
  5: 702.0,
  6: 973.0,
  7: 3868.0,
  8: 384.0,
  9: 2066.0,
  10: 3678.0,
  11: 2124.0,
  12: 1508.0,
  13: 1568.0,
  14: 700.0,
  15: 1702.0,
  16: 613.0,
  17: 1025.0,
  18: 1097.0,
  19: 1317.0,
  20: 1374.0,
  21: 1058.0,
  22: 1721.0,
  23: 759.0,
  24: 835.0,
  25: 1898.0,
  26: 2259.0,
  27: 760.0,
  28: 541.0,
  29: 2660.0},
 'households': {0: 459.0,
  1: 294.0,
  2: 783.0,
  3: 375.0,
  4: 652.0,
  5: 265.0,
  6: 349.0,
  7: 1300.0,
  8: 172.0,
  9: 761.0,
  10: 1141.0,
  11: 739.0,
  12: 754.0,
  13: 553.0,
  14: 236.0,
  15: 506.0,
  16: 290.0,
  17: 304.0,
  18: 328.0,
  19: 594.0,
  20: 598.0,
  21: 414.0,
  22: 631.0,
  23: 340.0,
  24: 215.0,
  25: 581.0,
  26: 566.0,
  27: 322.0,
  28: 138.0,
  29: 1004.0},
 'median_income': {0: 6.2233,
  1: 2.7083,
  2: 1.9386,
  3: 15.0001,
  4: 0.8438,
  5: 5.2661,
  6: 3.6587,
  7: 6.4789,
  8: 1.6875,
  9: 1.3092,
  10: 2.0,
  11: 1.1185,
  12: 4.3409,
  13: 4.7813,
  14: 6.6766,
  15: 2.08,
  16: 1.2917,
  17: 1.4024,
  18: 3.2386,
  19: 2.2308,
  20: 4.174,
  21: 2.0644,
  22: 6.1388,
  23: 3.3162,
  24: 5.5,
  25: 5.9224,
  26: 4.0139,
  27: 2.9559,
  28: 3.4375,
  29: 2.3567},
 'median_house_value': {0: 230900.0,
  1: 116300.0,
  2: 67500.0,
  3: 500001.0,
  4: 175000.0,
  5: 314900.0,
  6: 321200.0,
  7: 287800.0,
  8: 111500.0,
  9: 325000.0,
  10: 240600.0,
  11: 55000.0,
  12: 271400.0,
  13: 188600.0,
  14: 332700.0,
  15: 56600.0,
  16: 66300.0,
  17: 51000.0,
  18: 149600.0,
  19: 125900.0,
  20: 394400.0,
  21: 79800.0,
  22: 302400.0,
  23: 113600.0,
  24: 181500.0,
  25: 239400.0,
  26: 132000.0,
  27: 288400.0,
  28: 151700.0,
  29: 253100.0},
 'ocean_proximity_INLAND': {0: True,
  1: True,
  2: True,
  3: False,
  4: False,
  5: False,
  6: False,
  7: True,
  8: True,
  9: False,
  10: False,
  11: False,
  12: False,
  13: False,
  14: False,
  15: True,
  16: True,
  17: True,
  18: False,
  19: False,
  20: False,
  21: False,
  22: False,
  23: True,
  24: False,
  25: False,
  26: True,
  27: False,
  28: True,
  29: False},
 'ocean_proximity_NEAR BAY': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: False,
  10: False,
  11: True,
  12: False,
  13: False,
  14: False,
  15: False,
  16: False,
  17: False,
  18: True,
  19: False,
  20: False,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False},
 'ocean_proximity_NEAR OCEAN': {0: False,
  1: False,
  2: False,
  3: False,
  4: False,
  5: False,
  6: False,
  7: False,
  8: False,
  9: True,
  10: False,
  11: False,
  12: True,
  13: True,
  14: False,
  15: False,
  16: False,
  17: False,
  18: False,
  19: True,
  20: True,
  21: False,
  22: False,
  23: False,
  24: False,
  25: False,
  26: False,
  27: False,
  28: False,
  29: False},
 'income_cat': {0: 5,
  1: 2,
  2: 2,
  3: 5,
  4: 1,
  5: 4,
  6: 3,
  7: 5,
  8: 2,
  9: 1,
  10: 2,
  11: 1,
  12: 3,
  13: 4,
  14: 5,
  15: 2,
  16: 1,
  17: 1,
  18: 3,
  19: 2,
  20: 3,
  21: 2,
  22: 5,
  23: 3,
  24: 4,
  25: 4,
  26: 3,
  27: 2,
  28: 3,
  29: 2},
 'rooms_per_household': {0: 20.52069716775599,
  1: 4.129251700680272,
  2: 4.384418901660281,
  3: 8.0,
  4: 2.9079754601226995,
  5: 6.7018867924528305,
  6: 5.343839541547278,
  7: 7.909230769230769,
  8: 11.30232558139535,
  9: 3.295663600525624,
  10: 2.7738825591586327,
  11: 2.60893098782138,
  12: 5.26392572944297,
  13: 6.470162748643761,
  14: 5.8940677966101696,
  15: 5.140316205533597,
  16: 3.831034482758621,
  17: 4.332236842105263,
  18: 3.948170731707317,
  19: 4.235690235690235,
  20: 6.595317725752508,
  21: 5.763285024154589,
  22: 5.93026941362916,
  23: 5.238235294117647,
  24: 6.004651162790697,
  25: 6.349397590361446,
  26: 5.779151943462898,
  27: 5.909937888198757,
  28: 4.949275362318841,
  29: 2.2928286852589643},
 'bedrooms_per_room': {0: 0.15447499734579043,
  1: 0.23146622734761121,
  2: 0.2286629769880571,
  3: 0.12466666666666666,
  4: 0.35548523206751054,
  5: 0.16948198198198197,
  6: 0.19302949061662197,
  7: 0.12964403812487843,
  8: 0.20267489711934156,
  9: 0.32974481658692184,
  10: 0.3990521327014218,
  11: 0.4336099585062241,
  12: 0.21012849584278157,
  13: 0.1626607043040805,
  14: 0.1732566498921639,
  15: 0.20530565167243367,
  16: 0.24212421242124213,
  17: 0.2839787395596052,
  18: 0.2277992277992278,
  19: 0.24284578696343403,
  20: 0.18711967545638944,
  21: 0.23679798826487847,
  22: 0.16916087653661144,
  23: 0.2476137001684447,
  24: 0.17815646785437644,
  25: 0.15857956085660072,
  26: 0.18190155915622133,
  27: 0.1839201261166579,
  28: 0.18594436310395315,
  29: 0.4882710686359687},
 'population_per_household': {0: 3.0108932461873636,
  1: 2.3843537414965987,
  2: 2.3065134099616857,
  3: 3.048,
  4: 1.4892638036809815,
  5: 2.6490566037735848,
  6: 2.7879656160458453,
  7: 2.9753846153846153,
  8: 2.2325581395348837,
  9: 2.7148488830486204,
  10: 3.223488168273444,
  11: 2.8741542625169147,
  12: 2.0,
  13: 2.8354430379746836,
  14: 2.9661016949152543,
  15: 3.3636363636363638,
  16: 2.113793103448276,
  17: 3.3717105263157894,
  18: 3.3445121951219514,
  19: 2.217171717171717,
  20: 2.297658862876254,
  21: 2.5555555555555554,
  22: 2.7274167987321714,
  23: 2.2323529411764707,
  24: 3.883720930232558,
  25: 3.2667814113597244,
  26: 3.991166077738516,
  27: 2.360248447204969,
  28: 3.920289855072464,
  29: 2.649402390438247}}

In [56]:
X_train, X_test, y_train, y_test = train_test_split(c)

In [65]:
X_train.to_dict()

{'longitude': {1: -117.65,
  24: -118.26,
  17: -118.99,
  21: -123.76,
  9: -117.16,
  29: -118.29,
  26: -117.62,
  13: -117.14,
  19: -117.06,
  22: -121.98,
  8: -121.14,
  4: -118.14,
  10: -118.31,
  0: -117.2,
  11: -122.41,
  6: -118.27,
  5: -118.34,
  12: -118.02,
  18: -122.02,
  2: -119.79,
  20: -121.92,
  14: -122.01,
  7: -121.14,
  28: -117.97},
 'latitude': {1: 34.09,
  24: 33.79,
  17: 35.38,
  21: 41.03,
  9: 32.71,
  29: 34.07,
  26: 34.09,
  13: 32.79,
  19: 32.75,
  22: 37.33,
  8: 40.29,
  4: 34.15,
  10: 34.09,
  0: 34.26,
  11: 37.78,
  6: 34.16,
  5: 34.26,
  12: 33.62,
  18: 37.6,
  2: 36.79,
  20: 36.57,
  14: 37.31,
  7: 38.77,
  28: 34.13},
 'housing_median_age': {1: 46.0,
  24: 30.0,
  17: 26.0,
  21: 24.0,
  9: 5.0,
  29: 26.0,
  26: 26.0,
  13: 35.0,
  19: 34.0,
  22: 30.0,
  8: 17.0,
  4: 17.0,
  10: 30.0,
  0: 17.0,
  11: 52.0,
  6: 45.0,
  5: 37.0,
  12: 11.0,
  18: 32.0,
  2: 33.0,
  20: 42.0,
  14: 26.0,
  7: 15.0,
  28: 42.0},
 'total_rooms': {1: 1214.0,
  24: 1291.0,
  17: 1317.0,
  21: 2386.0,
  9: 2508.0,
  29: 2302.0,
  26: 3271.0,
  13: 3578.0,
  19: 2516.0,
  22: 3742.0,
  8: 1944.0,
  4: 1896.0,
  10: 3165.0,
  0: 9419.0,
  11: 1928.0,
  6: 1865.0,
  5: 1776.0,
  12: 3969.0,
  18: 1295.0,
  2: 3433.0,
  20: 3944.0,
  14: 1391.0,
  7: 10282.0,
  28: 683.0},
 'total_bedrooms': {1: 281.0,
  24: 230.0,
  17: 374.0,
  21: 565.0,
  9: 827.0,
  29: 1124.0,
  26: 595.0,
  13: 582.0,
  19: 611.0,
  22: 633.0,
  8: 394.0,
  4: 674.0,
  10: 1263.0,
  0: 1455.0,
  11: 836.0,
  6: 360.0,
  5: 301.0,
  12: 834.0,
  18: 295.0,
  2: 785.0,
  20: 738.0,
  14: 241.0,
  7: 1333.0,
  28: 127.0},
 'population': {1: 701.0,
  24: 835.0,
  17: 1025.0,
  21: 1058.0,
  9: 2066.0,
  29: 2660.0,
  26: 2259.0,
  13: 1568.0,
  19: 1317.0,
  22: 1721.0,
  8: 384.0,
  4: 971.0,
  10: 3678.0,
  0: 1382.0,
  11: 2124.0,
  6: 973.0,
  5: 702.0,
  12: 1508.0,
  18: 1097.0,
  2: 1806.0,
  20: 1374.0,
  14: 700.0,
  7: 3868.0,
  28: 541.0},
 'households': {1: 294.0,
  24: 215.0,
  17: 304.0,
  21: 414.0,
  9: 761.0,
  29: 1004.0,
  26: 566.0,
  13: 553.0,
  19: 594.0,
  22: 631.0,
  8: 172.0,
  4: 652.0,
  10: 1141.0,
  0: 459.0,
  11: 739.0,
  6: 349.0,
  5: 265.0,
  12: 754.0,
  18: 328.0,
  2: 783.0,
  20: 598.0,
  14: 236.0,
  7: 1300.0,
  28: 138.0},
 'median_income': {1: 2.7083,
  24: 5.5,
  17: 1.4024,
  21: 2.0644,
  9: 1.3092,
  29: 2.3567,
  26: 4.0139,
  13: 4.7813,
  19: 2.2308,
  22: 6.1388,
  8: 1.6875,
  4: 0.8438,
  10: 2.0,
  0: 6.2233,
  11: 1.1185,
  6: 3.6587,
  5: 5.2661,
  12: 4.3409,
  18: 3.2386,
  2: 1.9386,
  20: 4.174,
  14: 6.6766,
  7: 6.4789,
  28: 3.4375},
 'ocean_proximity_INLAND': {1: True,
  24: False,
  17: True,
  21: False,
  9: False,
  29: False,
  26: True,
  13: False,
  19: False,
  22: False,
  8: True,
  4: False,
  10: False,
  0: True,
  11: False,
  6: False,
  5: False,
  12: False,
  18: False,
  2: True,
  20: False,
  14: False,
  7: True,
  28: True},
 'ocean_proximity_NEAR BAY': {1: False,
  24: False,
  17: False,
  21: False,
  9: False,
  29: False,
  26: False,
  13: False,
  19: False,
  22: False,
  8: False,
  4: False,
  10: False,
  0: False,
  11: True,
  6: False,
  5: False,
  12: False,
  18: True,
  2: False,
  20: False,
  14: False,
  7: False,
  28: False},
 'ocean_proximity_NEAR OCEAN': {1: False,
  24: False,
  17: False,
  21: False,
  9: True,
  29: False,
  26: False,
  13: True,
  19: True,
  22: False,
  8: False,
  4: False,
  10: False,
  0: False,
  11: False,
  6: False,
  5: False,
  12: True,
  18: False,
  2: False,
  20: True,
  14: False,
  7: False,
  28: False},
 'income_cat': {1: 2,
  24: 4,
  17: 1,
  21: 2,
  9: 1,
  29: 2,
  26: 3,
  13: 4,
  19: 2,
  22: 5,
  8: 2,
  4: 1,
  10: 2,
  0: 5,
  11: 1,
  6: 3,
  5: 4,
  12: 3,
  18: 3,
  2: 2,
  20: 3,
  14: 5,
  7: 5,
  28: 3},
 'rooms_per_household': {1: 4.129251700680272,
  24: 6.004651162790697,
  17: 4.332236842105263,
  21: 5.763285024154589,
  9: 3.295663600525624,
  29: 2.2928286852589643,
  26: 5.779151943462898,
  13: 6.470162748643761,
  19: 4.235690235690235,
  22: 5.93026941362916,
  8: 11.30232558139535,
  4: 2.9079754601226995,
  10: 2.7738825591586327,
  0: 20.52069716775599,
  11: 2.60893098782138,
  6: 5.343839541547278,
  5: 6.7018867924528305,
  12: 5.26392572944297,
  18: 3.948170731707317,
  2: 4.384418901660281,
  20: 6.595317725752508,
  14: 5.8940677966101696,
  7: 7.909230769230769,
  28: 4.949275362318841},
 'bedrooms_per_room': {1: 0.23146622734761121,
  24: 0.17815646785437644,
  17: 0.2839787395596052,
  21: 0.23679798826487847,
  9: 0.32974481658692184,
  29: 0.4882710686359687,
  26: 0.18190155915622133,
  13: 0.1626607043040805,
  19: 0.24284578696343403,
  22: 0.16916087653661144,
  8: 0.20267489711934156,
  4: 0.35548523206751054,
  10: 0.3990521327014218,
  0: 0.15447499734579043,
  11: 0.4336099585062241,
  6: 0.19302949061662197,
  5: 0.16948198198198197,
  12: 0.21012849584278157,
  18: 0.2277992277992278,
  2: 0.2286629769880571,
  20: 0.18711967545638944,
  14: 0.1732566498921639,
  7: 0.12964403812487843,
  28: 0.18594436310395315},
 'population_per_household': {1: 2.3843537414965987,
  24: 3.883720930232558,
  17: 3.3717105263157894,
  21: 2.5555555555555554,
  9: 2.7148488830486204,
  29: 2.649402390438247,
  26: 3.991166077738516,
  13: 2.8354430379746836,
  19: 2.217171717171717,
  22: 2.7274167987321714,
  8: 2.2325581395348837,
  4: 1.4892638036809815,
  10: 3.223488168273444,
  0: 3.0108932461873636,
  11: 2.8741542625169147,
  6: 2.7879656160458453,
  5: 2.6490566037735848,
  12: 2.0,
  18: 3.3445121951219514,
  2: 2.3065134099616857,
  20: 2.297658862876254,
  14: 2.9661016949152543,
  7: 2.9753846153846153,
  28: 3.920289855072464}}

In [66]:
y_train

1     116300.0
24    181500.0
17     51000.0
21     79800.0
9     325000.0
29    253100.0
26    132000.0
13    188600.0
19    125900.0
22    302400.0
8     111500.0
4     175000.0
10    240600.0
0     230900.0
11     55000.0
6     321200.0
5     314900.0
12    271400.0
18    149600.0
2      67500.0
20    394400.0
14    332700.0
7     287800.0
28    151700.0
Name: median_house_value, dtype: float64

In [67]:
from re import X
from src.housing_price_prediction.prepare_model_data import train_test_split
from src.housing_price_prediction.train import train_forest_with_grid_search

In [70]:
y_train.to_list()

[116300.0,
 181500.0,
 51000.0,
 79800.0,
 325000.0,
 253100.0,
 132000.0,
 188600.0,
 125900.0,
 302400.0,
 111500.0,
 175000.0,
 240600.0,
 230900.0,
 55000.0,
 321200.0,
 314900.0,
 271400.0,
 149600.0,
 67500.0,
 394400.0,
 332700.0,
 287800.0,
 151700.0]

In [74]:
e = train_forest_with_grid_search(X_train,y_train)

In [78]:
from src.housing_price_prediction.score import evaluate_model


evaluate_model(e)

TypeError: evaluate_model() missing 2 required positional arguments: 'X_test' and 'y_test'

In [75]:
assert hasattr(e, "predict")

In [7]:
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"


def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    os.makedirs(housing_path, exist_ok=True)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path, filter="data")
    housing_tgz.close()


def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)


dataset = fetch_housing_data()
housing = load_housing_data()

In [14]:
dataset = fetch_data()
housing = load_data()

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/c/Users/praveen.ravikuma/Documents/Projects/mle_training/mle-training/housing_project/src/data/housing.tgz'